header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color:whitesmoke;
}
body {
    font-family: 'Sansita Swashed', cursive;
}
main {
     background-color:white;
     padding:16px;
}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}
.my-class {
    color:red;
}
.my-class:hover {
    color:red;
}
a.photo:hover{
    padding: 10px;
}
a.photo{
    transition: padding 0.5s;
}
a.photo:hover{
    padding: 10px;
}
